<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
    <form method="post" action="/return_upload" enctype="multipart/form-data">
        <input type="submit" value="動画アップロード" name="upload"
               style="position:absolute; font-size:20px; width:200px; height:200px; top:200px; left:110px">
    </form>
    <form method="post" action="/output_table" enctype="multipart/form-data">
        <input type="submit" value="データ出力" name="watch_table"
               style="position:absolute; font-size:20px; width:200px; height:200px; top:200px; left:400px">
    </form>
</body>
</html>