<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show_table</title>
</head>
<body>
<table border="1">
    <thread>
        <tr style="text-align: center;">
            <th>動画名</th>
            <th>歩行者</th>
            <th>自転車</th>
            <th>動力付き二輪車</th>
            <th>乗用車</th>
            <th>小型貨物車</th>
            <th>バス</th>
            <th>普通貨物</th>
        </tr>
    </thread>
    <tbody>
        {% for samp in meta_date %}
        <tr style="text-align: right;">
            <td>{{ samp[1] }}</td>
            <td>{{ samp[2] }}</td>
            <td>{{ samp[3] }}</td>
            <td>{{ samp[4] }}</td>
            <td>{{ samp[5] }}</td>
            <td>{{ samp[6] }}</td>
            <td>{{ samp[7] }}</td>
            <td>{{ samp[8] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
<form method="post" action="/download" enctype="multipart/form-data">
        <input type="submit" value="ダウンロード"
               style="position:absolute; font-size:20px; width:200px; height:50px; top:120px; left:20px">
</form>
<form method="post" action="/" enctype="multipart/form-data">
        <input type="submit" value="メニューへ戻る"
               style="position:absolute; font-size:20px; width:200px; height:50px; top:120px; left:250px">
</form>
</body>
</html>